@use '@/styles/variables' as *;

.resourceBtn {
    //border: 2px solid magenta;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    border-top: 0.5px solid rgb(189, 189, 189);

    .textContainer {
        //border: 2px solid magenta;
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 10px;
        width: fit-content;

        h3 {
            font-size: 40px;
            line-height: 50px;
            font-family: $font-heading;
            font-weight: 500;
        }

        p {
            font-size: 15px;
            line-height: 25px;
            font-family: $font-body;
            font-weight: 300;
        }
    }
}