@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: $color-black;
  height: 100%;


  .heroContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    gap: 20px;
    align-items: center;

    @include respond-to(medium) {
      width: 800px;
      height: fit-content;
      gap: 20px;
    }
  }
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flag {
  width: 100%;
  height: 200px;
  opacity: 0;
  animation: fadeIn 1s ease 0.8s forwards;

  @include respond-to(medium) {
    width: 500px;
    height: 300px;
  }
}

.missionLabel {
  font-family: $font-mono;
  font-size: 15px;
  font-weight: bold;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: inline-block;
  border-bottom: 1px solid $color-white;
  align-self: flex-start;
  line-height: 40px;
  animation: slideUp 0.6s ease forwards;
}

.headline {
  font-family: $font-heading;
  font-size: 30px;
  font-weight: 500;
  color: $color-white;
  line-height: 45px;
  margin-bottom: $space-sm;
  opacity: 0;
  animation: slideUp 0.8s ease 0.3s forwards;

  @include respond-to(medium) {
    font-size: 40px;
    line-height: 60px;
  }
}

.arrow {
  opacity: 0;
  animation: slideUp 0.8s ease 0.5s forwards;
}

.pillars {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: $space-md;
  opacity: 0;
  animation: slideUp 0.8s ease 1.2s forwards;

  @include respond-to(medium) {
    grid-template-columns: 1fr;
    width: 800px;
  }
}

.pillar {
  border-top: 0.5px solid rgba(255, 255, 255, 0.514);
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: $space-xs;


  h4 {
    font-family: $font-heading;
    font-size: 15px;
    font-weight: bold;
    color: $color-white;
  }

  p {
    font-family: $font-mono;
    font-weight: bold;
    font-size: $text-sm;
    color: $color-gray-mid;
    line-height: 1.4;
  }
}

@keyframes typeIn {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}