@use 'variables' as *;

body {
  font-family: $font-primary;
  font-size: $text-base;
  color: $color-white;
  background-color: $color-black;
}

h1 {
  font-size: $text-3xl;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: $text-2xl;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: $text-xl;
  font-weight: 600;
  line-height: 1.3;
}

h4 {
  font-size: $text-lg;
  font-weight: 600;
  line-height: 1.4;
}

p {
  font-size: $text-base;
  line-height: 1.7;
}

small {
  font-size: $text-sm;
  color: $color-gray-mid;
}