@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.aboutUsAndCommunity {
    //border: 2px solid magenta;
    background-color: $color-gray;
    padding-inline: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .aboutUs {
        //border: 2px solid magenta;
        padding-block: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        @include respond-to(medium) {
            width: 500px;
        }

        p {
            font-family: $font-heading;
            font-size: 18px;
            line-height: 30px;
        }

        .readMoreLink {
            font-family: $font-mono;
            font-size: 10px;
            line-height: 30px;
            font-weight: bold;
            color: black;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            border-bottom: 1px solid black;
            width: fit-content;
            text-align: center;
        }
    }

    .community {
        //border: 2px solid magenta;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: $color-white;

        @include respond-to(medium) {
            width: 500px;
        }

        .communityImage {
            @include respond-to(medium) {
                width: 100%;
                height: auto;
            }
        }

        .communityText {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            .heading {
                font-family: $font-heading;
                font-size: 20px;
                line-height: 35px;
                font-weight: 500;
            }

            p {
                font-family: $font-heading;
                font-size: 15px;
                line-height: 30px;
            }

            .joinUsLink {
                font-family: $font-mono;
                font-size: 10px;
                line-height: 30px;
                font-weight: bold;
                color: black;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                border-bottom: 1px solid black;
                width: fit-content;
                text-align: center;
            }
        }
    }
}